.l-main-cols {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  gap: 2.5rem;
  align-items: flex-end;
}
.l-col {
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: flex-end;
} 