.u-font-serif { font-family: 'Noto Serif JP', 'Yu Mincho', serif; }
.u-font-bold { font-weight: bold; }
.u-font-size-6pt { font-size: 6pt; }
.u-font-size-8pt { font-size: 8pt; }
.u-font-size-12pt { font-size: 12pt; }
.u-font-size-16pt { font-size: 16pt; }
.u-leading-1_4 { line-height: 1.4; }
.u-leading-1_6 { line-height: 1.6; }
.u-text-justify { text-align: justify; } 